<% extend('../layout/dashboard-layout') %>
<div class="main container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-sm-6">

      <form method="POST" action="/authentic/register">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp"
            placeholder="請輸入 email" required>
          <small id="emailHelp" class="form-text text-muted">我們不會隨意散佈你的 Email</small>
        </div>
        <div class="form-group">
          <label for="password">密碼</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="請輸入密碼" required>
        </div>
        <div class="form-group">
          <label for="confirm_password">確認密碼</label>
          <input type="password" class="form-control" id="confirm_password" name="confirm_password" placeholder="確認密碼"
            required>
        </div>
        <div class="text-right mt-3">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <%- error %>
      </form>
    </div>
  </div>
</div>
